 .static_Main .static_body {
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 20px 30px;
     overflow: hidden;

 }

 .static_Main .static_body .data_body {
     border-radius: 15px;
     background: #F6F6F6;
     padding: 15px 30px;
     /* height: 80vh; */
     width: 900px;
     overflow: auto;
     max-height: calc(100% - 95px);
     box-sizing: border-box;

 }

 .static_body .databody_header {
     font-size: 40px;
     color: #00023D;
     font-family: 'zoho_puvibold';
     padding: 20px 15px;
 }

 .ruleHead {
     font-size: 26px;
     color: #00023D;
     font-family: 'zoho_puvisemi-bold';
 }

 .static_body ol {
     list-style-type: none;
     counter-reset: item;
     margin: 0;
     padding: 0;
 }

 .ruleHead ol {
     font-family: "zohopuvi_regular";
     font-size: 14px;
     padding-top: 10px;
     padding-left: 20px;
 }

 .ruleHead ul {
    font-family: "zohopuvi_regular";
     font-size: 14px;
     padding-top: 10px;
     padding-left: 20px;
 }

 .static_body ul > li{
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
 }

 .static_body ol>li {
     display: table;
     counter-increment: item;
     margin-bottom: 0.6em;

 }

 .static_body ol>li:before {
     /* content: counters(item, ".") ". "; */
     display: table-cell;
     padding-right: 10px;

 }
 .static_body ul>li:before {
    /* content: counters(item, ".") ". "; */
    display: table-cell;
    padding-right: 10px;

}

 .static_body li ol>li {
     line-height: 20px;
 }

 .static_body li ol>li:before {
     content: counters(item, ".") " ";
 }

 .static_body li ul>li {
    line-height: 20px;
}

.static_body li ul>li:before {
    content: counters(item, ".") " ";
}